#points {
    padding: 12px 0 0 0;
    margin: 0;
}


.card {
    margin-bottom: 10px;
}

.container-fluid, .container {
    margin-top: 20px;
}

.card-footer {
    padding-bottom: 5px;
}

label {
    font-weight: 500;
}


#defense p, #defense label {
    margin-bottom: 5px;
}

.col p, .skill p, .card-header p, .card-footer p {
 margin-bottom: 0;

}

